#energy{
	vertical-align: bottom;
	width:300px;
	
}
#energy div{
	
	height:100px;
	
}
 
#energy div div {
	float:left;
	width:20px;  
	position: relative;
	margin-right: 5px;
}

#energy div div div { 
	background:cyan;
	border:1px solid black;
	 position: absolute; bottom: 0; left: 0; 
}

 